/* Write the CSS for you answer here */

#container {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#tree {
    position: absolute;
    left: 0px;
    top: 115px;
    width: 700px;
    z-index: 2;
}

#red {
    position: absolute;
    left: 10%;
    top: 60%;
    z-index: 3;
}

#orange {
    position: absolute;
    left: 15%;
    top: 45%;
    z-index: 3;
}

#pink {
    position: absolute;
    left: 30%;
    top: 55%;
    z-index: 3;
}

#blue {
    position: absolute;
    left: 48%;
    top: 40%;
    z-index: 3;
}

#darkblue {
    position: absolute;
    left: 60%;
    top: 30%;
    z-index: 3;
}

#green {
    position: absolute;
    left: 70%;
    top: 55%;
    z-index: 1;
}

.bauble:hover{
    width: 70px;
}

img#tree {
    pointer-events: none;
}

/*Animation code below*/

@-webkit-keyframes bounce {
   20% {top: 80%; }
   40% {top: 70%; }
   60% {top: 80%; }
   80% {top: 70%}
   100% {top: 80%; }

}

.bauble {
    animation: bounce 5s ease;
    animation-fill-mode: forwards;
}

/*how to make the animation restart when i hover over my image? use #container:hover??*/
.bauble:hover{
    animation-play-state: initial;
}
