/* Write the CSS for you answer here */

#container {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#tree {
    position: absolute;
    left: 0px;
    top: 115px;
    width: 700px;
    z-index: 2;
}

#red {
    position: absolute;
    left: 10%;
    top: 60%;
    z-index: 3;
}

#orange {
    position: absolute;
    left: 15%;
    top: 45%;
    z-index: 3;
}

#pink {
    position: absolute;
    left: 30%;
    top: 55%;
    z-index: 3;
}

#blue {
    position: absolute;
    left: 48%;
    top: 40%;
    z-index: 3;
}

#darkblue {
    position: absolute;
    left: 60%;
    top: 30%;
    z-index: 3;
}

#green {
    position: absolute;
    left: 70%;
    top: 55%;
    z-index: 1;
}

/* #pink:hover{
    width: 150px;
}

#green:hover{
    width: 150px;
} */

.bauble:hover{
    /* transform: scale(2.2); */
    width: 70px;
}

img#tree {
    pointer-events: none;
}
